# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.mypy_cache/
.pytest_cache/

# Environments
.venv/
venv/
env/
.env
.env.*
*.local

/output/*
!/output/.gitkeep

# Database
DB/postgres_data/
*.db
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo
